.collections {
    text-align: center;
     
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 80px; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    
}

.collectionItem {
    padding: 30px;
    margin: 20px;
}
  
  /* .headerName {
    color: black;
  } */
  
  
  /* .podcast {
    position: relative;;
  } */
    