.podcastCrud {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    
}

hr {
    /* border-style:; */
    /* margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; */
    margin-top: 25px;
    border-color: rgb(190, 190, 190);
    border-width: 1.5px;
    width: 40%;
}