

.container {
    border-radius: 5px;
    background-color: #B4CFB0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    width: 45%;

    text-align: center;
    margin: 0 auto;
}

.crud-buttons {

    display: inline-block;
    justify-content: space-between;
}

/* form {
    overflow: hidden;
} */
 
